<% @destination.comments.each do |comment| %>
  <p>
    <strong>Comment:</strong>
    
    <%= comment.content %>
  </p>

  <p>
    <%= link_to 'Delete Comment', [comment.destination, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success btn-small" %>
  </p>
  
<% end %>

