<%= form_for([@destination, @destination.comments.build]) do |f| %>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "text_area" %>
  </p>

  <p>
    <%= f.submit "Create Comment", class: "btn btn-md btn-primary" %>
  </p>
  
<% end %>