<div class="dest_index jumbotron">

  <h1>Destinations</h1>
  <h3>Find by country (alphabetically):</h3>
  <%= link_to 'Add New Destination', new_destination_path, class: "btn btn-lg btn-primary add_dest" %>

</div>

  <% @destinations.each do |country, destinations| %>
    <div>
      <p class="country"><%= country %></p>
      <% destinations.each do |destination| %>
      <p><%= link_to destination.name, destination_path(destination), class: "dest_name" %></p> 
    </div>  
     <% end %> 
  <% end %> 

