@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin_right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

body {
  padding-top: 80px;
}

.nav_item {
  margin-left: 25px;
  padding-right: 5px;
  float: left;
  margin-top: 20px;
}

.center {
  text-align: center;
  height: 500px;
  background-image: url("")
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;

}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
}