$navbar-inverse-bg: #283D3E;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  margin-top: 15px;
  margin-bottom: 10px;
  float: left;
  margin_right: 10px;
  font-size: 2em;
  color: #D6C496;
  font-family: 'Sue Ellen Francisco', cursive;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #D62E2E;
  text-decoration: none;
}

body {
  padding-top: 80px;
}

.nav_item {
  margin-left: 20%;
  padding-right: 5px;
  float: left;
  margin-top: 15px;
}

.navbar_links {
  font-family: 'Sue Ellen Francisco', cursive;
  line-height: 1;
  font-size: 1.5em;
  margin-right: 50px;
  color: white;
}

.navbar_links:hover {
  text-decoration: none;
  color: #D6C496;
}

.center {
  text-align: center;
  height: 600px;
  background-image: url("tuscany-7.jpg");
  background-size: cover;
  margin-top: -10px;
  color: white;
}

h1, h2 {
  line-height: 1;
  font-family: 'Sue Ellen Francisco', cursive;
}

h3, h4 {
  line-height: 1;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 30px;
  

}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-family: 'Lato', sans-serif;
}

.intro {
  margin-bottom: 30px;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #48586F;
  text-align: center;
  padding-top: 10px;
}

#signup {
  margin-left: 200px;
  margin-bottom: 20px;
  margin-right: 10px;
}

#signup, #login {
  margin-bottom: 20px;
}

.midrow {
  color: #48586F;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2.0em;
}

.country {
  font-size: 1.6em;
  margin-top: 20px;
  margin-left: 150px;
  text-transform: uppercase;
}

.add_dest {
margin-top: 10px;
  margin-bottom: 50px;
}

.dest_name {
  margin-left: 175px;
  font-size: 1.4em;
  color: #48586F;
}

.dest_name:hover {
  text-decoration: none;
  color: #D6C496;
}

.dest_index {
  text-align: center;
  height: 350px;
  background-image: url("elephants.jpg");
  background-size: cover;
  margin-top: -10px;
  color: white;
  border-bottom: 5px solid #48586F;
  
}