 <h4 id="rating">Rating: <%= review.rating %></h4>
        <p><%= review.content %></p><br>
        <%= link_to 'Delete Review', [review], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-small" %><br><br>