<div class="container">

  <h1>Add Review</h1>
    <%= form_for @review  do |f| %>

    <%= render 'form', f: f %>

    <div class="actions">
      <%= f.submit "Add Review", class: "btn btn-lg btn-primary" %>
    </div>
    <% end %>

</div>